<div class="flexContainer" fxLayout="row" fxLayoutAlign="start start" *ngIf="isSelected">
        <app-frame-viewer fxFlex="70"></app-frame-viewer>
        <app-frame-meta-data fxFlex="30" [currentFrame]="actualFrame"></app-frame-meta-data>
</div>
<div class="messageArea" *ngIf="!isSelected" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="messageCard">
            <mat-card-header>
                <mat-card-title>Frame Editing Area</mat-card-title>
                <mat-card-subtitle>Select a frame to edit it.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                When you select a frame in the frame creator, you can edit that frame in this area. 
                This area is called frame worker. Frameworker is dividied into 2 areas.</p>
                <p>1. Frame Viewer - You can upload a image here, that represents the frame in the storyboard</p>
                <p>2. Frame Meta Data - you can edit the selected frames Meta data here.</p>
            </mat-card-content>
        </mat-card>
        <h1></h1>
</div>
